<h1>Cards</h1>
<p><%= link_to "New Card", new_card_path %></p>
<ul class="no-bullet">
<% @cards.each do |card|%>
  <li><%= card.id %>:<%= link_to card.phrase, card_path(card) %><br><%= card.help %> | <%= "Tweeted | " if card.tweeted? %><%= link_to "Edit", edit_card_path(card) %> | <%= link_to "Delete", card_path(card), :method => :delete, :confirm => "Delete the card '#{card.phrase}'?" %></li>
  <% end %>
</ul>