<!DOCTYPE html>
<html>
<head>
  <title>Mcards</title>
  <link href='http://fonts.googleapis.com/css?family=Rosarivo' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
  <body>
    <% if flash[:notice] %>
      <p>
        <%= flash[:notice] %>
      </p>
      <% end %>

    <%= yield %>
      <script type="text/javascript">
    $(".fit-text").fitText(.9, { minFontSize: '35px', maxFontSize: '100px' });
  </script>
  </body>  
</html>