<!DOCTYPE html>
<html>
<head>
  <title>Meditation Cards - Simple Medit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
  <link href='http://fonts.googleapis.com/css?family=Rosarivo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://i.icomoon.io/public/temp/1aa2509c22/UntitledProject1/style.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
  <body>
      <div class="wrapper">
        <% if flash[:notice] %>
          <p>
            <%= flash[:notice] %>
          </p>
        <% end %>
        <%= yield %>
        <div class="push"></div>
      </div>
    <footer><span class="middle">
    &copy; <%= Time.now.year %> Meditation Cards </div><%= link_to "https://twitter.com/meditationcards", class:"icon" do %><span class="icon-twitter"></span><span class="screen-reader">Twitter</span><% end %> <%= mail_to "mailto:%68%65%6c%6c%6f@%6d%63%61%72%64%73.%63%6f" do %><span class="icon-mail2"></span><span class="screen-reader">Contact</span><% end %></span>
    </footer>
    <script async defer>
      window.mySwipe = $('#card_collection').Swipe({
        speed: 400,
        continuous: false
       }).data('Swipe');
    </script>
  </body>  
</html>