<!DOCTYPE html>
<html>
<head>
  <title>Meditation Cards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
  <link href='http://fonts.googleapis.com/css?family=Rosarivo' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
  <body>
      <div class="wrapper">
        <% if flash[:notice] %>
          <p>
            <%= flash[:notice] %>
          </p>
        <% end %>
        <%= yield %>
        <div class="push"></div>
      </div>
    <footer>
      <p>&copy; Copyright <%= Time.now.year %> Meditation Cards</p>
    </footer>
    <script async defer>
      window.mySwipe = $('#card_collection').Swipe({
        speed: 400,
        continuous: false
       }).data('Swipe');
    </script>
  </body>  
</html>